<!DOCTYPE html>
<html>
<head>
  <title>Word On The Street</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>

<body>
<div class="container_nav">
	<nav class="nav navbar">
	</nav>
</div>




<%= yield %>

	

<div class="navbar navbar-bottom" role="navigation">
	<div class="container footer">
		<p>© 2015 William Bishop</p>
	</div>
</div>

	</body>
</html>
